
//TEXT COLORS
$text-main-color: #ffffff;
$gold-light: #ac752f;
$gold-dark: #ad7835;

//BACKGROUND COLORS
$dark-grey: #1d1d1d;
$medium-grey: #373737;

//COLORS
$text-heading-color: $gold-light;
$text-paragraph-color: $gold-light;

//TEXT PROPERTIES
$base-text-size: 16px;
$base-line-height: 28px;

//TEXT FONT
$font-base: 'Raleway', sans-serif;