.articles {
  display: grid;
  grid-template-columns: 0.5fr 0.25fr 1.5fr 0.25fr 1.5fr 0.2fr 0.5fr;
  grid-template-rows: 0.25fr 2fr 0.25fr;
  grid-template-areas: ". art-title art-title art-title art-title art-title ."". articles-container articles-container articles-container articles-container articles-container ."". . . . . . .";

  .articles-container {
    display: grid;

    grid-template-columns: 0.1fr 338px 0.1fr 0.25fr 0.1fr 338px 0.1fr 0.25fr 0.1fr 338px 0.1fr;
    grid-template-rows: 0.1fr 236px 0.1fr 236px 0.1fr 0.1fr 236px 0.1fr;
    grid-gap: 5px;
    grid-area: articles-container;
  }
  .art-image-1 {
    grid-area: 2 / 2 / 4 / 4;
    background: url('./assets/images/originals/art-1.png');
    background-size: cover;
    background-position: center;
  }
  .art-background-1 {
    grid-area: 1 / 1 / 3 / 3;
    background-color: $medium-grey;
    z-index: -1;
  }
  .art-info-1 {
    margin-top: 50px;
    grid-area: 4 / 1 / 9 / 4;
  }

  .art-image-2 {
    grid-area: 4 / 6 / 6 / 8;
    background: url('./assets/images/originals/art-2.png');
    background-size: cover;
    background-position: center;
  }
  .art-background-2 {
    grid-area: 3 / 5 / 5/ 7;
    background-color: $medium-grey;
    z-index: -1;
  }
  .art-info-2 {
    margin-top: 50px;
    grid-area: 7 / 5 / 9 / 8;
  }

  .art-image-3 {
    grid-area: 2 / 10 / 4 / 12;
    background: url('./assets/images/originals/art-3.png');
    background-size: cover;
    background-position: center;
  
  }
  .art-background-3 {
    grid-area: 1 / 9 / 3 / 12;
    background-color: $medium-grey;
    z-index: -1;
  }
  .art-info-3 {
    margin-top: 50px;
    grid-area: 4 / 9 / 9 / 12;
  }

  .art-title {
    grid-area: art-title;
    margin: auto;
  }
  .art {
    background-repeat: no-repeat;

  }
  .btn-gold {
    border: none;
    box-shadow: none;
    text-align: left;
    padding: 10px 20px 10px 0;

    &:hover {
      background-color: transparent;
      color: $gold-dark;
    }
  }

  button>.fa {
    color: $gold-dark;
    font-size: 20px;
    margin-left: 10px;
  }
}